@model IEnumerable<CharityApp.Models.Donation>

@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_masterLayout.cshtml";
}

<main class="dashboard">
    <section class="stats">
        <div class="stat-card">
            <h3>Total Donations</h3>
            <p>Rs <span id="total-money" data-count="@ViewBag.totalAmount">@ViewBag.totalAmount</span></p>
        </div>
    </section>

    <section class="resource-list">
        <h3>Recent Donations</h3>
        <input type="text" id="search" class="search-bar" placeholder="Search donations...">
        <table class="donation-table">
            <thead>
                <tr>
                    <th>
                        Donor Name
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Country)
                    </th>

                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DonationTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>

                </tr>
            }
        </table>
    </section>
</main>